  <div class="comments_conainer" ng-controller="CommentsController">

    <div class="small-12 columns">
      <div class="row comments_input_">
        <div class="small-6 columns comment_username" ></div>
        <div class="small-6 columns comment_date"></div>
        <div class="small-12 columns comment_body"></div>
      </div>

      <div class="row">
        <div class="small-10 columns comment_input">
          <input type="text" placeholder="Your thoughts...">
        </div>
        <div class="small-2 columns comment_submit">
          <button type="button">Submit</button>
        </div>
      </div>
    </div>
  </div>