<div class="row" id="filter_row">
  <div class="small-4 columns" id="topic_filter">
    <!-- Dropdown of topics for filter -->
    Filter for topic
  </div>
  <div class="small-4 columns" id="me_you_filter">
    <!-- slider/on off button for showing tags/me and tags/all -->
    Me/You Tag
  </div>
  <div class="small-2 columns" id="traffic_counter">
    <!-- Counter for link traffic / hits -->
    # of hits
  </div>
  <div class="small-2 columns" id="comment_counter">
    <!-- Comment Count -->
    # of comments
  </div>
</div>