<div ng-include src="'views/filter-bar.html'"></div>

<div class="row" id="all_link_container" ng-controller="LinksController">

  <!-- for each link create the below div structure -->

  <div class="small-12 each_link_container" ng-repeat="Link in Links">
    <div class="small-2 medium-4 link_image_container">
      <!-- could be a background image -->
      <img class="link_image_container" src="" alt="">
    </div>

    <div class="small-10 medium-8 link_content_container">
      <div class="row">
        <div class="small-12 link_heading_container">
          <h1 class="link_heading">HEADING GOES HERE</h1>
        </div>
        <div class="small-3 link_url_container">
          LINK GOES HERE
        </div>
        <div class="small-3 link_topic_container">
          TOPIC GOES HERE
        </div>
        <div class="small-3 link_hit_count_container">
          # OF HITS HERE
        </div>
        <div class="small-3 link_comment_count_container">
          # OF COMMENTS HERE
        </div>
        <div class="small-12 link_description_container">
          <p class="link_description">DESCRIPTION OF THE LINK GOES HERE</p>
        </div>
      </div>
    </div>
  </div>

<!-- end of the link 'post' -->





</div>