<div ng-include src="'views/filter-bar.html'"></div>

<div class="row" id="all_link_container" ng-controller="LinksController">

  <!-- for each link create the below div structure -->

  <div class="add_Bookmark_Form">
    <form action="">
      <input type="text" placeholder="Add title" ng-model='new_bookmark.title'>
      <input type="text" placeholder="Add the URL" ng-model='new_bookmark.url'>
      <input type="text" placeholder="Describe" ng-model='new_bookmark.description'>
      <button type='button' ng-click='LinkService.addABookmark(new_bookmark); new_bookmark = null;'>Submit</button>
    </form>
  </div>

  <div class="small-12 columns each_link_container" ng-repeat="item in LinkService.bookmarks">

<!--     <div class="small-2 columns medium-4 link_image_container">
      could be a background image
      <img class="link_image_container" src="" alt="">
    </div> -->

    <div class="small-10 columns medium-8 link_content_container">
      <div class="row">
        <div class="small-12 columns link_heading_container">
          <h1 class="link_heading">{{ item.title }}</h1>
        </div>
        <div class="small-3 columns link_url_container">
          {{item.url}}
        </div>
        <div class="small-3 columns link_topic_container">
          TOPIC GOES HERE
        </div>
        <div class="small-3 columns link_hit_count_container">
          # OF HITS HERE
        </div>
        <div class="small-3 columns link_comment_count_container">
          # OF COMMENTS HERE
        </div>
        <div class="small-12 columns link_description_container">
          <p class="link_description">{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>

<!-- end of the link 'post' -->





</div>