<div class="entry_page_conatiner row" ng-controller="RegisterLoginController">

  <div class="register_container small-6 columns">
    <form action="">
      <h2>Register</h2>
      <h1>{{registerMessage}}</h1>
      <input type="text" placeholder="Username" ng-model="new_user.username">
      <input type="text" placeholder="Password" ng-model="new_user.password">
      <button type="button" ng-click="createUser(new_user)">Register</button>
    </form>
  </div>

  <div class="login_container small-6 columns">
    <form action="">
      <h2>Login</h2>
      <input type="text" placeholder="Username" ng-model="login_user.username">
      <input type="text" placeholder="Password" ng-model="login_user.password">
      <button type="button" ng-click="LoginService.loginUser(login_user)">Login</button>
    </form>
  </div>


</div>